<div class="navbar bg-[#05A8AA] shadow-sm">
  <div class="flex-1">
    <%= link_to root_path do %>
      <%= image_tag("Logo_Games_and_rent.webp", width: "100", height: "100")  %>
    <% end %>
  </div>
  <div class="flex gap-2">
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <i class="fa-solid fa-circle-user text-white text-4xl"></i>
        </div>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
        <li><h2 class="w-fulltext-[#DC602E] font-bold">Hello, <%=current_user.first_name%></h2></li>
        <li>
        <% if current_user %>
        <%= link_to dashboard_path do%>
          <button class="justify-between">
            Profile
          </button>
          <% end %>
        </li>
        <li><%= link_to "Index", games_path %></li>
          <%= link_to "Logout", destroy_user_session_path, data: {turbo_method: :delete} %>
          <% else %>
          <li><%= link_to "Login", new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
