<div class="container">
<div class="hero bg-[#05A8AA] min-h-screen">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl text-[#DC602E] font-bold">Game & rent</h1>
      <p class="py-6 text-white">
        Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem
        quasi. In deleniti eaque aut repudiandae et a id nisi.
      </p>
    </div>
  </div>
</div>
  <div class="grid grid-cols-4 gap-4 mt-20">
      <% @games.each do |game| %>
        <% unless game.offers.empty? %>
          <div class="card bg-base-200 w-85 border border-[#DC602E] shadow-sm h-[700px]">
            <figure class="px-10 pt-10 mt-5">
              <%= image_tag(game.artwork_url,
                width: 400, height: 300, crop: :fill) %>
            </figure>
            <div class="card-body items-center text-center h-[420px]">
              <h2 class="card-title text-[#DC602E]"><%= game.title %></h2>
              <p class="overflow-y-scroll text-[#05A8AA]"><%= game.overview %></p>
              <p class="font-bold text-[#DC602E]"><%= game.platform %></p>
              <div class="card-actions">
                <%= link_to game_path(game) do %>
                <button class="btn btn-outline btn-warning">Réserver</button>
              <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
  </div>
</div>
