
<div class="container border rounded bg-white shadow-md p-4 border-amber-500
 " style="max-height: 300px; overflow-y: auto;">
  <% games.each do |game| %>
  <div
      class="game-horizontal-card p-2 border mb-2 flex items-center hover:bg-amber-100 cursor-pointer"
      data-controller="searchclick"
      data-action="click->searchclick#select"
      data-searchclick-title-value="<%= game.title %>"
      data-searchclick-id-value="<%= game.id%>"
      data-searchclick-artwork-url-value="<%= game.artwork_url %>"
  >
  <div class="game-image mr-4">
      <%= image_tag game.artwork_url, alt: game.title, class: "w-16 h-16 object-cover" if game.artwork_url.present? %>
    </div>
    <div class="game-info" >
      <h3 class="font-bold"><%= game.title %></h3>

    </div>
  </div>
  <% end %>
</div>
