<div class="w-full px-4 md:px-16 py-8">
  <%= simple_form_for(offer) do |f| %>

    <!-- Deux colonnes -->
    <div class="flex flex-col md:flex-row gap-8 w-full">

      <!-- Colonne gauche -->
      <div class="flex-1 space-y-4">
        <%= f.association :game, input_html: { class: "input input-warning w-full" } %>

        <%# <%= f.input :game, collection: Game.all, input_html: { class: "input input-warning w-full" } %>
        <%= f.input :condition, input_html: { class: "input input-warning w-full" } %>
      </div>

      <!-- Colonne droite -->
      <div class="flex-1 space-y-4">
        <%= f.input :photo, as: :file, input_html: { class: "input input-warning w-full" } %>
        <%= f.input :rate_per_day, input_html: { class: "input input-warning w-full" } %>
      </div>

    </div>

    <!-- Description -->
    <div class="mt-6">
      <%= f.input :description, input_html: { class: "input input-warning w-full w-full h-38" } %>
    </div>

    <!-- Boutons -->
    <div class="flex justify-end gap-4 mt-8">
      <%= f.submit "Valider", class: "btn btn-primary" %>
      <%= link_to "Annuler", offers_path, class: "btn btn-secondary" %>
    </div>

  <% end %>
</div>

<% if @offer.errors.any? %>
  <ul>
    <% @offer.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
<%#
grid grid-cols-1 md:grid-cols-2 : passe à une seule colonne sur mobile.

gap-6 : ajoute de l’espace entre les colonnes et lignes.

w-full : chaque champ prend toute la largeur disponible de sa colonne.

md:col-span-2 pour que la description s’étende sur les deux colonnes en version bureau.

mt-6 ajoute un peu d’espace avant les boutons. %>
