<div class="w-full px-4 md:px-16 py-8" data-controller="autocomplete-game" data-autocomplete-game-url-value="<%= autocomplete_games_path	%>">

  <%= simple_form_for(offer) do |f| %>

    <!-- Deux colonnes -->
    <div class="flex flex-col md:flex-row gap-8 w-full">

      <!-- Colonne gauche -->
      <div class="flex-1 space-y-4">

          <input type="text"
                 data-action="keyup->autocomplete-game#search"
                 data-autocomplete-game-target="input"
                 placeholder="Rechercher un jeu"
                 class="input input-warning w-full">

        <div data-autocomplete-game-target = "results"></div>

        <%= f.association :game, input_html: { class: "input input-warning w-full" } %>
        <%# <%= f.input :game, collection: Game.all, input_html: { class: "input input-warning w-full" } %>
        <%# <%= f.input :condition, input_html: { class: "input input-warning w-full" } %>
        <%= f.input :condition, collection: ['Bad', 'OK', 'Good', 'Mint'], prompt: 'Choisissez une condition' , input_html: { class: "input input-warning w-full" } %>
      </div>

      <!-- Colonne droite -->
      <div class="flex-1 space-y-4">
        <%= f.input :photo, as: :file, input_html: { class: "input input-warning w-full" } %>
        <%= f.input :rate_per_day, input_html: {  min: 1, class: "input input-warning w-full" } %>

      </div>

    </div>

    <!-- Description -->
    <div class="mt-6">
      <%= f.input :description, input_html: { class: "input input-warning w-full w-full h-38" } %>
    </div>

    <!-- Boutons -->
    <div class="flex justify-end gap-4 mt-8">
      <%= f.submit "Valider", class: "btn btn-primary" %>
      <%= link_to "Annuler", dashboard_path, class: "btn btn-secondary" %>
    </div>

  <% end %>
</div>

<% if @offer.errors.any? %>
  <ul>
    <% @offer.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
